{% extends "polls/index.html" %}
{% block content %}
	<div class="card-body">
		<h4 class="pb-2 text-center">Помощь</h4>
		<div class="alert alert-info p-4">
			<ol>
				<li><p>Создайте(если еще не создавали) аккаунт и войдите в него.</p></li>
				<li><p>Перейдите во вкладку "Калькулятор" в меню.</p></li>
				<li><p>Введите требуемые параметры и нажмите "Рассчитать длину убт" внизу формы.</p></li>
				<li><p>Просмотрите результаты.</p></li>
			</ol>
			<p>Вы можете вернуться к прошлым результатам расчета в разделе "История расчетов".</p>
		</div>
	</div>
{% endblock %}